<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b69da5">  <td>20/03/09 19:23:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_CITAC.verifyCITAC()[pri:0, instance:smoke.test.DB.Verify_CITAC@64f6106c]">verifyCITAC</td> 
  <td>main@1772160903</td>   <td></td> </tr>
<tr bgcolor="bfab8b">  <td>20/03/09 19:27:00</td>   <td>227334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_CSOAC.verifyCSOAC()[pri:0, instance:smoke.test.DB.Verify_CSOAC@5891e32e]">verifyCSOAC</td> 
  <td>main@1772160903</td>   <td></td> </tr>
</table>
